<html>
    <haed>
    <meta charset="UTF-8">
    <title> Login </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">      
    </head>     
    <body>
        <div align="center">
            <div align="center" class="border">
               <div class="header">
                  <h1 class="word">Product</h1>
               </div></br></br>
              <h2 class="word">
                <form action="/" method="post">
                  
                    <input type="text" placeholder="Username" name="Name"/><br><br>
                    <input type="password" placeholder="Password"  name="password"/><br><br>
                    <input type="submit" value="Login"/>
                    
                  </form>
              </h2>     

        </form>
    </div>
       </div
       
    </body>
    </html>